.App {
  background-color: rgb(210, 210, 210);
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 600px;
  width: 900px;

  display: flex;
  flex-direction: column;
}

.Gray-block {
  background-color: rgb(103, 103, 103);
  height: 33px;
  width: 900px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.Records {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(10, 50px);
  flex-grow: 30;
}