.SmallButton {
    background-color: rgba(210, 210, 210, 0.979);
    width: 33px;
    height: 33px;
    border: 1px solid black;
	cursor: pointer;
}
.SmallButton:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.Icon {
    background-size: cover;
    float: left;
    width: 33px;
    height:93%;
}

#Right {
    background-image: url(../../public/right-arrow.png);
}
#Left {
    background-image: url(../../public/left-arrow.png);
}
#Add {
    background-image: url(../../public/add.png);
}
#Accounts {
    background-image: url(../../public/account.png);
}
